<html>
    <head>

        <title>Contact</title>

    </head>

    <body>

        <h1>Welcome to Contact page</h1>

        <p>this is our first page</p>

        <form action="/data" method="post">
            <input type="text" name='first_name' placeholder="Firstname" required='required' />
            <input type="text" name='Second_name' placeholder="Secondname" required='required' />
            <input type="number" name='number' placeholder="Number" required='required' />
            <input type="email" name='email' placeholder="email" required='required' />

            

            <input type="text" name='preg' placeholder="preg" required='required' />
            <input type="text" name='plas' placeholder="plas" required='required' />
            <input type="number" name='pres' placeholder="pres" required='required' />
            <input type="number" name='skin' placeholder="skin" required='required' />
            <input type="number" name='test' placeholder="test" required='required' />
            <input type="number" name='mass' placeholder="mass" required='required' />
            <input type="number" name='pedi' placeholder="pedi" required='required' />
            <input type="number" name='age' placeholder="age" required='required' />

            <button type='submit'>Predict</button>
        </form>
        
    </body>

</html>